# SPDX-License-Identifier: Apache-2.0

import /init.recovery.qcom_decrypt.rc

on early-init
    mount tracefs tracefs /sys/kernel/tracing
    chmod 0755 /sys/kernel/tracing
    chown system system /sys/kernel/debug

on init
    setprop sys.usb.configfs 1
    setprop prepdecrypt.loglevel 2

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on post-fs
    start boot-hal-1-0
